<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Regra para proxy do endpoint de token do Google -->
                <rule name="Google Token Proxy" stopProcessing="true">
                    <match url="oauth/google/token" />
                    <action type="Rewrite" url="https://caracore-backend.azurewebsites.net/oauth/google/token" logRewrittenUrl="true" />
                </rule>
                
                <!-- Regra para proxy do endpoint de token do Microsoft -->
                <rule name="Microsoft Token Proxy" stopProcessing="true">
                    <match url="oauth/microsoft/token" />
                    <action type="Rewrite" url="https://caracore-backend.azurewebsites.net/oauth/microsoft/token" logRewrittenUrl="true" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Add CORS" preCondition="IsHTML">
                    <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern=".*" />
                    <action type="Rewrite" value="*" />
                </rule>
                <rule name="Add CORS Methods" preCondition="IsHTML">
                    <match serverVariable="RESPONSE_Access-Control-Allow-Methods" pattern=".*" />
                    <action type="Rewrite" value="GET, POST, PUT, DELETE, OPTIONS" />
                </rule>
                <rule name="Add CORS Headers" preCondition="IsHTML">
                    <match serverVariable="RESPONSE_Access-Control-Allow-Headers" pattern=".*" />
                    <action type="Rewrite" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
                </rule>
                <preConditions>
                    <preCondition name="IsHTML">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>